<nav class="navbar-default navbar-static-side" role="navigation" id="filtreleme">
    >
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                   

                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                     
                    </a>
                </div>
              
            </li>

            <li>
                <a href="/Home/Filtre/"><i class="fa fa-lock"></i> <span class="nav-label">yayin türüne </span>  </a>
            </li>

            <li>
                <a href="/Home/YayinciFiltre/"><i class="fa fa-lock"></i> <span class="nav-label">yayinci ad  </span>  </a>
            </li>

            <li>
                <a href="/Home/TarihFiltre/"><i class="fa fa-lock"></i> <span class="nav-label"> tarihe  </span>  </a>
            </li>


            <li>
                <a href="/Home/YayinAdFiltre/"><i class="fa fa-lock"></i> <span class="nav-label"> yayin ad  </span>  </a>
            </li>
            <li>
                <a href="/Home/tarihSırala/"><i class="fa fa-lock"></i> <span class="nav-label">eskiden yeniye </span>  </a>
            </li>

            <li>
                <a href="/Home/tarihSırala1/"><i class="fa fa-lock"></i> <span class="nav-label">yeniden eskiye </span>  </a>
            </li>


        </ul>
    </div>
</nav>

